body {
    background-color: lightgray;
}

h1 {
    color: darkblue;
}

.caja {
    width: 300px;
    height: 100px;
    margin-bottom: 10px;
    color: white;
}

.caja-1 {
    background-color: yellow;
    color: black;
}

.caja-2 {
    background-color: tomato;
}

.caja-3 {
    background-color: teal;
}